img {
    position: relative;
    width: 1920px;
    height: 800px;
    left: -250px;
    z-index: 10;
  }

  body{
    background-color: black;
    justify-content: center;
    overflow: hidden;

    transition: all 0.5s;

}

img.npc{
    width: 263px;
    height: 304px;
    position: absolute;
    top:350px;
    left:250px;
}
img.talk {
    width: 1000px;
    height: 330px;
    position: fixed;
    top:470px;
    left: 200px;
}
img.sel1{
    width: 120px;
    height: 160px;
    position: absolute;
    z-index: 10;
    
    top:200px;
    left: 900px;

    transition: all 0.4s;
  }

  img.sel2{
    width: 120px;
    height: 160px;
    position: absolute;
    z-index: 10;
    top: 300px;
    left: 500px;
    transition: all 0.4s;
  }

  img.sel1:hover{
    filter: drop-shadow(0 0 2px rgba(255,255,255,0.7)) 
    drop-shadow(0 0 5px rgba(255,255,255,0.7)) 
    drop-shadow(0 0 15px rgba(255,255,255,0.7)); 

    width: 140px;
    height: 180px;

  }

  img.sel2:hover{
    filter: drop-shadow(0 0 2px rgba(255, 204, 0, 0.7)) 
    drop-shadow(0 0 5px rgba(255, 204, 0, 0.7)) 
    drop-shadow(0 0 15px rgba(255, 204, 0, 0.7)) ;
    
        width: 140px;
        height: 180px;

  }

  p{
    color: white;
    font-size: 20px;
    font-family: "Nanum Myeongjo", serif;
    position: relative;
    top:-220px;
    left: 350px;
    z-index: 10;
}
h3{
    color: white;
    font-size: 22px;
    font-family: "Nanum Myeongjo", serif;
    position: absolute;
    top:600px;
    animation: fadein 4s;
    animation:ani 1s infinite alternate; 
    
    z-index: 10;
}

div{
    text-align: center;
    justify-content: center;
    display: flex;
}

button{
    border: none;
    background-color: rgba(0,0,0,0);
    color:white;

    font-size: 18px;
    font-weight: 800;
    font-family: "Nanum Myeongjo", serif;

    position: relative;
    top:-220px;
    left:950px;
    z-index: 10;
    transition: all 0.2s;
}

button:hover{
    filter: drop-shadow(0 0 2px rgba(255,255,255,0.7)) 
        drop-shadow(0 0 5px rgba(255,255,255,0.7)) 
        drop-shadow(0 0 15px rgba(255,255,255,0.7)); 

}




    button.back{
      border: none;
      background-color: rgba(0,0,0,0);
      color:white;
  
      font-size: 18px;
      font-weight: 800;
      font-family: "Nanum Myeongjo", serif;
  
      position: absolute;
      top:700px;
      left:670px;
      z-index: 10;
      transition: all 0.2s;
  }
  
  button.back:hover{
      filter: drop-shadow(0 0 2px rgba(255,255,255,0.7)) 
          drop-shadow(0 0 5px rgba(255,255,255,0.7)) 
          drop-shadow(0 0 15px rgba(255,255,255,0.7)); 
  
  }

  
  

  img.sel5{
    width: 358px;
    height: 78px;
    position: absolute;
    z-index: 10;
    top:20px;
    left: 1080px;
    transition: all 0.4s;
    
    
  }

  h3.gold{
    color: white;
    font-size: 22px;
    font-weight: 200;
    font-family: "Nanum Myeongjo", serif;
    position: absolute;
    top:25px;
    left: 1150px;
    animation: fadein 1s;
  
    
    z-index: 10;
  }
  
  h3.gold_1{
    color: white;
    font-size: 22px;
    font-weight: 200;
    font-family: "Nanum Myeongjo", serif;
    position: absolute;
    top:25px;
    left: 1350px;
    animation: fadein 1s;
  
    
    z-index: 10;
  }
  
  input{
    color: white;
    font-size: 22px;
    font-weight: 200;
    font-family: "Nanum Myeongjo", serif;
    position: absolute;
    top:45px;
    left: 1260px;
    animation: fadein 1s;
  
  
    background-color: rgba(0, 0, 255, 0);
    border: none;
    
    z-index:10;
}
@keyframes ani{
  0%{transform:translate(0,0px);}
  100%{transform:translate(0,5px);}
  }